body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.welcome{
  background-color: cyan;
  border-radius: 30px;
  margin-top: 1%;
  margin-right: 2%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding-left: 4%;
}
.welcome h1{
  font-size: 50px;
  text-shadow: 5px 5px 5px wheat;
}
.welcome span{
  color:rgb(255, 94, 0);
}
.intro{
  margin-left: 10%;
  margin-bottom: 10%;
}
.intro p{
  text-align: justify;
}
.link-button{
  background-image: linear-gradient(orange, rgb(19, 59, 238));
  border-radius: 5px;
  text-decoration: none;
  color: aliceblue;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 18px;
}
.flexible-container{
  display: flex;
  margin-bottom: 100px;
}
.half-width{
  width: 50%;
}
.half-width img{
  width: 95%;
  padding-left: 2%;
  padding-right: 1%;
  margin-top: 8%;
}
.first-part{
   background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
}
.second-part{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dev-shadow{
  width: 40%;
  margin-left: 6%;
  margin-right: 5%;
  padding-left: 20px;
  box-shadow: 10px 10px 20px goldenrod;
  border-radius: 15px;
  border-left: 10px solid;
}
.last-part{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#full-dev{
  border-image: linear-gradient(orange,red);
  border-image-slice: 1;
}
#baby-dev{
  border-image: linear-gradient(green,pink);
  border-image-slice: 4;
}
footer{
  background-color: goldenrod;
  padding: 2px;
}
footer p{
  text-align: center;
}